<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-webview" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WebViewPlugin</name>
    <js-module name="WebViewPlugin" src="www/WebViewPlugin.js">
        <clobbers target="cordova.plugins.WebViewPlugin" />
    </js-module>
	<platform name="android">  
       <config-file target="res/xml/config.xml" parent="/*">  
           <feature name="WebViewPlugin">  
               <param name="android-package" value="com.webview.yhck.WebViewPlugin"/>  
           </feature>  
       </config-file>  	
	   
	    <config-file target="AndroidManifest.xml" parent="/manifest">
             <uses-permission android:name="android.permission.INTERNET"/>
       </config-file>
	   
       <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.webview.yhck.WebViewActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar" 
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:screenOrientation="portrait" />
        </config-file>
	   <source-file src="src/android/WebViewPlugin.java" target-dir="src/com/webview/yhck"/>  
	   <source-file src="src/android/WebViewActivity.java" target-dir="src/com/webview/yhck"/>  
	   <source-file src="src/android/MyBadgeView.java" target-dir="src/com/webview/yhck"/>  
	   <source-file src="src/android/badgeview.jar" target-dir="libs" />
	   <source-file src="src/android/layout/activity_webview.xml" target-dir="res/layout" />
	     <source-file src="src/android/drawable/back.png" target-dir="res/drawable" />
		   <source-file src="src/android/drawable/news.png" target-dir="res/drawable" />
	</platform>  
</plugin>
